<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Blog</title>
    <link rel="stylesheet" href="./views/layout/style.css">
    <link rel="stylesheet" href="./views/layout/bootstrap-5.2.3-dist/css/bootstrap.min.css">
</head>
<body>
    <%-include('./layout/navbar.ejs') %> 
<div style="padding-top: 4rem;"></div>
    <h1 class="center">Write New Blog</h1>
    <div class="container">
        <form action="/writeblog" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="formFile" class="form-label">Chose Blog Image</label>
        <input class="form-control" type="file" name="image" id="formFile">
      </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Blog Title</label>
        <input type="text" class="form-control" name="title" id="exampleFormControlInput1" placeholder="Title..">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Blog Body</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name="body" rows="3"></textarea>
      </div>

      <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>
<script src="./views/layout/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="./views/layout/app.js"></script>
</body>
</html>